@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
    @apply font-sans antialiased text-neutral-900 screen-full;
}

/* Font Styling */
.font-heading {
    @apply font-sans font-black text-neutral-700;
}

/* Full-Screen Utilities */
.s-full,
.size-full {
    @apply w-full h-full;
}

.screen-full {
    @apply overflow-x-hidden overflow-y-auto w-screen h-screen;
}

/* Centering Utilities */
.align-vh-center {
    @apply items-center justify-center;
}

.vh-full {
    @apply h-screen w-screen;
}

/* Required Field Indicator */
.required::after {
    @apply content-['*'] relative -top-1 text-red-500 text-xs;
}

/* User Interaction States */
.no-select {
    @apply select-none;
}

.no-drag {
    -webkit-user-drag: none;
    user-drag: none;
    pointer-events: none;
}

.disabled,
.disabled:disabled,
.button:disabled,
button:disabled,
input:disabled {
    @apply no-select no-drag opacity-50 cursor-not-allowed hover:opacity-80;
}

/* Icon Styling */
iconify-icon {
    @apply opacity-90 inline-block w-4 h-4;
}

/* Scrollbar Styling */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Table Styles */
.custom-table {
    @apply table-auto w-full text-left border-spacing-2;
}

.custom-table tr {
    @apply border-y hover:bg-gray-100 transition ease-in-out duration-150;
}

.custom-table th,
.table-list th {
    @apply font-bold text-gray-600 p-4 break-words;
}

.custom-table td,
.custom-table th {
    @apply px-4 py-2;
}

.custom-table .col-top td {
    @apply align-top;
}

.table-list {
    @apply border-0;
}

/* Input Styles */
.custom-input {
    @apply border-0 w-fit px-2 py-1 bg-transparent focus:ring-0 focus:border-b focus:border-black;
}

/* Livewire Loading */
.livewire-loading {
    border-top-color: #00a3fb;
}

/* Transition Effects */
.basic-transition {
    @apply transition ease-in-out duration-300;
}

.divider-line {
    @apply content-[''] w-4 border-t-2 border-neutral-700;
}
