@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Paytone+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans antialiased screen-full;
}

.screen-full {
    @apply h-screen w-screen overflow-x-hidden overflow-y-auto;
}

.livewire-loading {
    border-top-color: #00a3fb;
}

iconify-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.custom-table {
    @apply table-auto w-full text-left border-spacing-2;
}

.custom-table tr {
    @apply border-y hover:bg-gray-100 transition ease-in-out duration-150;
}

.custom-table th {
    @apply font-bold bg-gray-200 p-4 break-words;
}

.custom-table td {
    @apply px-4 py-2 break-words;
}

.col-top td {
    @apply align-top;
}

.custom-input {
    @apply border-0 w-fit px-2 py-1 bg-transparent focus:ring-0 focus:border-b focus:border-black;
}
